.report-preview {
	display: block;
	height: 300px;
	width: 300px;
	background-image: url(../images/order-complete-600x600.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size:contain;
	border: 1px solid $dark-gray;
	margin: 30px auto 25px;
}

.order-complete {
	text-align: center;
}

.btn {
	margin-bottom:40px;
}

h1 {
	display: block;
	margin-bottom: 20px;
}