body {
  margin-top: 60px;
  box-sizing: border-box; }

body.index {
  margin-top: 0; }

@media screen and (max-width: 480px) {
  .hide-mobile {
    display: none; } }

.text-color-red {
  color: red; }

body, p {
  font-size: 16px;
  color: #202722; }

h1, h2, h3, h4, h5 {
  font-family: 'Helvetica Neue', 'Lato', 'Helvetica', sans-serif; }

p, a {
  font-family: 'PT Serif', 'Book Antiqua', 'Palatino', serif; }

h1 {
  font-size: 2em;
  line-height: 1.25; }

@media (min-width: 820px) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125; } }
@media (min-width: 1140px) {
  h1 {
    font-size: 3em;
    line-height: 1.05; } }
h2 {
  font-weight: bold;
  font-size: 1.625em;
  line-height: 1.15384615; }

@media (min-width: 820px) {
  h2 {
    font-size: 2em;
    line-height: 1.25; } }
@media (min-width: 1140px) {
  h2 {
    font-size: 2.25em;
    line-height: 1.25; } }
h3 {
  font-weight: bold;
  font-size: 1.375em;
  line-height: 1.13636364; }

@media (min-width: 820px) {
  h3 {
    font-size: 1.5em;
    line-height: 1.25; } }
@media (min-width: 1140px) {
  h3 {
    font-size: 1.75em;
    line-height: 1.25; } }
h4 {
  font-weight: bold;
  font-size: 1.125em;
  line-height: 1.11111111; }

@media (min-width: 820px) {
  h4 {
    line-height: 1.22222222; } }
.pageHeader h2 {
  text-align: center;
  color: #2ebd59;
  font-weight: 300; }

.saftey-text {
  font-size: .765em;
  color: #a3afa4; }

/*** NAVBAR ***/
.user-name-nav {
  display: inline-block;
  text-transform: uppercase;
  font-size: .875em; }

.fa fa-use {
  -webkit-font-smoothing: antialiased; }

.navbar {
  background-color: #202722;
  color: white;
  border-bottom: 1px solid transparent;
  height: 60px; }
  .navbar #navbar li {
    margin: auto 10px; }
    .navbar #navbar li a {
      font-family: 'Helvetica Neue', 'Lato', 'Helvetica', sans-serif;
      -webkit-transition: color .25s linear;
      transition: color .25s linear;
      -webkit-font-smoothing: subpixel-antialiased;
      margin-top: 5px;
      color: white; }
      .navbar #navbar li a:hover {
        color: #2ebd59; }

.past-main {
  background-color: #202722;
  color: #333333;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid transparent; }
  .past-main #navbar .active {
    background-color: #202722; }
    .past-main #navbar .active a {
      color: white; }
  .past-main #navbar li:hover {
    background-color: #202722; }
  .past-main #navbar li a {
    margin-top: 5px;
    color: #d9ddd9; }
    .past-main #navbar li a:hover {
      color: white; }

.dropdown-menu {
  background-color: #090909;
  color: #d9ddd9; }
  .dropdown-menu .divide {
    border-top: 1px solid #d9ddd9; }
  .dropdown-menu li {
    display: block; }
    .dropdown-menu li:hover {
      background-color: #202722; }
    .dropdown-menu li a {
      padding-top: .5em;
      padding-bottom: .5em;
      display: block;
      height: auto; }
      .dropdown-menu li a:hover {
        background-color: #090909; }

.nav-gray {
  background-color: #d9ddd9; }
  .nav-gray #navbar li:hover {
    background-color: #202722; }
  .nav-gray #navbar li a {
    color: white; }
    .nav-gray #navbar li a:hover {
      color: white; }

.navbar-left {
  margin-left: 30px; }

.nav-index {
  background-color: transparent; }
  .nav-index .btn {
    background-color: transparent;
    border: 1px solid #2ebd59; }

.nav-index #navbar li a {
  color: #6a7a6b; }

.navbar-brand {
  margin-top: 11px;
  display: block;
  background-image: url(/images/pg_logo-whiteGreen-400x100.png);
  width: 200px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  .navbar-brand a {
    color: transparent; }
    .navbar-brand a:hover {
      color: transparent; }

.nav-index .navbar-brand {
  background-image: url(/images/pg_logo-blackGreen-400x100.png); }

.sign-up-btn {
  margin-top: 10px; }

.navbar #navbar li a.btn-primary-reverse, .navbar #navbar li .nav-index a.btn, .nav-index .navbar #navbar li a.btn {
  margin-top: 10px;
  padding: 10px 15px;
  color: #2ebd59; }
  .navbar #navbar li a.btn-primary-reverse:hover, .navbar #navbar li .nav-index a.btn:hover, .nav-index .navbar #navbar li a.btn:hover {
    background-color: #2ebd59;
    color: white; }

@media screen and (max-width: 768px) {
  .nav-index {
    background-color: #202722;
    color: white;
    border-bottom: 1px solid transparent;
    height: 60px; }
    .nav-index #navbar li {
      text-align: center;
      margin: auto 10px; }
      .nav-index #navbar li a {
        font-family: 'Helvetica Neue', 'Lato', 'Helvetica', sans-serif;
        -webkit-transition: color .25s linear;
        transition: color .25s linear;
        -webkit-font-smoothing: subpixel-antialiased;
        margin-top: 5px;
        color: white; }
        .nav-index #navbar li a:hover {
          color: #2ebd59; }
    .nav-index .navbar-brand {
      background-image: url(/images/pg_logo-whiteGreen-400x100.png); }

  .navbar-collapse {
    background-color: #202722; } }
footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F0F0F0;
  width: 100%;
  height: auto; }
  footer .small-copy {
    color: #999;
    font-size: 13px;
    display: block;
    margin-top: 20px; }

@media screen and (max-width: 480px) {
  .small-copy {
    float: left; } }
.jumbotron {
  text-align: center;
  margin-bottom: 0px; }
  .jumbotron .btn {
    width: 100%; }
  .jumbotron h1 {
    color: #202722;
    font-weight: 300; }

.jumbo-form-group {
  float: none;
  display: block;
  margin: 0 auto; }

.landing-page-foreground {
  margin-top: 155px; }

.landing-page-back {
  background-image: url(/images/landingPage-background-2736x1824.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 660px; }

.green-blue_gradient {
  height: 300px;
  width: 100%;
  background: #1ed760;
  /* Old browsers */
  background: -moz-linear-gradient(left, #1ed760 14%, #3692ff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(14%, #1ed760), color-stop(100%, #3692ff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #1ed760 14%, #3692ff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #1ed760 14%, #3692ff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #1ed760 14%, #3692ff 100%);
  /* IE10+ */
  background: linear-gradient(to right, #1ed760 14%, #3692ff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ed760', endColorstr='#3692ff',GradientType=1 );
  /* IE6-9 */ }

.subheader-text {
  color: white;
  text-align: center; }

.ui-kit_logo {
  display: block;
  margin: 40px auto 0;
  float: none; }

a {
  color: #3498db; }
  a:hover {
    color: #50daff; }

.btn {
  font-family: 'Helvetica Neue', 'Lato', 'Helvetica', sans-serif;
  padding: 10px 16px;
  border-width: 0;
  -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear  border .25s linear,color .25s linear,background-color .25s linear;
  transition: border .25s linear,color .25s linear,background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased; }

.btn a {
  font-family: 'Helvetica Neue', 'Lato', 'Helvetica', sans-serif; }

.btn-big {
  padding: 10px 25px; }

.btn-reverse {
  border-width: 1px; }

.btn-block {
  display: block;
  width: 100%; }

.btn-primary {
  background-color: #2ebd59; }
  .btn-primary:hover {
    background-color: #1ed760; }

.btn-primary-reverse, .nav-index .btn {
  background-color: transparent;
  border: 1px solid #2ebd59;
  color: #2ebd59; }
  .btn-primary-reverse:hover, .nav-index .btn:hover {
    background-color: #2ebd59;
    color: white; }

.btn-secondary {
  background-color: #417ed9; }
  .btn-secondary:hover {
    background-color: #3692ff; }

.btn-secondary-reverse {
  background-color: transparent;
  border: 1px solid #417ed9;
  color: #417ed9; }
  .btn-secondary-reverse:hover {
    background-color: #417ed9;
    color: white; }

.btn-cta {
  background-color: #ff673b;
  color: white; }
  .btn-cta:hover {
    background-color: #ff7f43;
    color: white; }

.btn-cta-reverse {
  border-color: #ff673b;
  color: #ff673b; }
  .btn-cta-reverse:hover {
    background-color: #ff673b;
    color: white; }

.btn-success {
  background-color: #18c479;
  color: white; }
  .btn-success:hover {
    background-color: #13d87a; }

.btn-success-reverse {
  border-color: #18c479;
  color: #18c479; }
  .btn-success-reverse:hover {
    background-color: #18c479;
    color: white; }

.btn-warning {
  background-color: #f6a351;
  color: white; }
  .btn-warning:hover {
    background-color: #ffae64; }

.btn-warning-reverse {
  border: 1px solid #f6a351;
  color: #f6a351; }
  .btn-warning-reverse:hover {
    background-color: #f6a351;
    color: white; }

.btn-danger {
  background-color: #e74c3c;
  color: white; }
  .btn-danger:hover {
    background-color: #ff534a; }

.btn-danger-reverse {
  border: 1px solid #e74c3c;
  color: #e74c3c; }
  .btn-danger-reverse:hover {
    background-color: #e74c3c;
    color: white; }

.btn-info {
  background-color: #3498db;
  color: white; }
  .btn-info:hover {
    background-color: #50daff; }

.btn-info-reverse {
  border: 1px solid #3498db;
  color: #3498db; }
  .btn-info-reverse:hover {
    background-color: #3498db;
    color: white; }

.btn-google {
  margin: 0 auto;
  cursor: pointer;
  height: 48px;
  width: 193px;
  background-image: url("/images/btn_google+_signin_dark_normal_web@2x.png");
  background-size: cover; }
  .btn-google:hover {
    background-image: url("/images/btn_google+_signin_dark_pressed_web@2x.png"); }
  .btn-google:focus {
    background-image: url("/images/btn_google+_signin_dark_focus_web@2x.png"); }

/************************** basic UI elements **************************/
.gray-back {
  background-color: #f1f1f1; }

.card-group {
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }

.card-body {
  background-color: white;
  padding: 10px 25px 10px 25px;
  border: 1px solid #dfe5e1;
  margin-bottom: 30px; }

.section-main-header {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  display: block;
  color: #6a7a6b;
  margin-bottom: 15px; }

input, .input-default {
  height: 40px;
  width: 100%;
  display: block;
  padding: 10px 16px;
  border: 1px solid #d9ddd9;
  border-radius: 3px;
  box-shadow: none;
  transition: border .25s linear, color .25s linear, background-color .25s linear; }

.input-error {
  color: #e74c3c;
  background-color: #ffe7e6;
  border-color: #e74c3c;
  box-shadow: none; }
  .input-error ::-webkit-input-placeholder {
    color: #e74c3c; }
  .input-error :-moz-placeholder {
    /* Firefox 18- */
    color: #e74c3c; }
  .input-error ::-moz-placeholder {
    /* Firefox 19+ */
    color: #e74c3c; }
  .input-error :-ms-input-placeholder {
    color: #e74c3c; }

.input-warning {
  color: #f6a351;
  background-color: #ffede1;
  border-color: #f6a351;
  box-shadow: none; }
  .input-warning ::-webkit-input-placeholder {
    color: #f6a351; }
  .input-warning :-moz-placeholder {
    /* Firefox 18- */
    color: #f6a351; }
  .input-warning ::-moz-placeholder {
    /* Firefox 19+ */
    color: #f6a351; }
  .input-warning :-ms-input-placeholder {
    color: #f6a351; }

.input-success {
  color: #18c479;
  background-color: #e6fff2;
  border-color: #18c479;
  box-shadow: none; }
  .input-success ::-webkit-input-placeholder {
    color: #18c479; }
  .input-success :-moz-placeholder {
    /* Firefox 18- */
    color: #18c479; }
  .input-success ::-moz-placeholder {
    /* Firefox 19+ */
    color: #18c479; }
  .input-success :-ms-input-placeholder {
    color: #18c479; }

.input-disabled {
  color: #d5dbdb;
  background-color: #f4f6f6;
  border-color: #d5dbdb;
  box-shadow: none; }
  .input-disabled ::-webkit-input-placeholder {
    color: #d5dbdb; }
  .input-disabled :-moz-placeholder {
    /* Firefox 18- */
    color: #d5dbdb; }
  .input-disabled ::-moz-placeholder {
    /* Firefox 19+ */
    color: #d5dbdb; }
  .input-disabled :-ms-input-placeholder {
    color: #d5dbdb; }

/*** checkboxes ***/
.checkbox .icon-checked:before {
  content: glyphicon glyphicon-film; }

.icon-bg {
  display: block;
  width: 128px;
  margin-left: auto;
  margin-right: auto; }

.tool-tip {
  float: right;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: cover;
  margin-right: 20px; }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  border-top: 1px solid #e8e8e8;
  padding-top: .5em;
  padding-bottom: .5em;
  vertical-align: middle;
  font-family: 'PT Serif', 'Book Antiqua', 'Palatino', serif; }

.report-option {
  padding-top: 0px;
  background-color: white;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  text-align: center;
  width: 33%; }

.report-option-header {
  font-family: "helvetica neue", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #2ebd59;
  padding: .5em; }

.report-option-copy {
  color: #333;
  font-weight: normal;
  text-align: left; }

.yes {
  margin: 0 auto;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #18c479; }

.no {
  color: #d5dbdb;
  margin: 0 auto;
  text-align: center; }

.basic, .pro {
  text-align: center; }

/*** pagination ***/
.pagination li a {
  display: inline-block;
  color: #2ebd59;
  border-width: 0px;
  padding: 10px 20px;
  border-radius: 3px; }
.pagination .active a {
  background-color: #2ebd59; }

.pagination .arrow a {
  display: inline-block;
  border: 1px solid #2ebd59;
  border-radius: 3px; }

.previous a {
  margin-right: 15px; }

.next a {
  margin-left: 15px; }

.pallete-item {
  margin-bottom: 20px; }

.palette {
  padding: 15px;
  font-size: 14px;
  margin: 0;
  color: #fff; }

.pallette-primary {
  background-color: #2ebd59; }

.pallette-primary-bright {
  background-color: #1ed760; }

.pallette-secondary {
  background-color: #417ed9; }

.pallette-secondary-bright {
  background-color: #3692ff; }

.pallette-cta {
  background-color: #ff673b; }

.pallette-cta-bright {
  background-color: #ff7f43; }

.pallette-success {
  background-color: #18c479; }

.pallette-success-bright {
  background-color: #13d87a; }

.pallette-warning {
  background-color: #f6a351; }

.pallette-warning-bright {
  background-color: #ffae64; }

.pallette-danger {
  background-color: #e74c3c; }

.pallette-danger-bright {
  background-color: #ff534a; }

.pallette-info {
  background-color: #3498db; }

.pallette-info-bright {
  background-color: #50daff; }

.pallette-black {
  background-color: #202722; }

.pallette-darkest-gray {
  background-color: #6a7a6b; }

.pallette-dark-gray {
  background-color: #a3afa4; }

.pallette-gray {
  background-color: #d9ddd9; }

.pallette-light-gray {
  background-color: #f1f1f1; }

.pallette-lightest-gray {
  background-color: #fafafa; }

.label-col {
  color: #d9ddd9; }

.h1-row .bg-screen-col {
  font-size: 3em;
  line-height: 1.05; }
.h1-row .mid-screen-col {
  font-size: 2.5em;
  line-height: 1.125; }
.h1-row .sm-screen-col {
  font-size: 2em;
  line-height: 1.25; }

.h2-row .bg-screen-col {
  font-size: 2.25em;
  line-height: 1.25; }
.h2-row .mid-screen-col {
  font-size: 2em;
  line-height: 1.25; }
.h2-row .sm-screen-col {
  font-size: 1.625em;
  line-height: 1.15384615; }

.h3-row .bg-screen-col {
  font-size: 1.75em;
  line-height: 1.25; }
.h3-row .mid-screen-col {
  font-size: 1.5em;
  line-height: 1.25; }
.h3-row .sm-screen-col {
  font-size: 1.375em;
  line-height: 1.13636364; }

.h4-row .bg-screen-col {
  font-size: 1.125em;
  line-height: 1.22222222; }
.h4-row .mid-screen-col {
  font-size: 1.125em;
  line-height: 1.22222222; }
.h4-row .sm-screen-col {
  font-size: 1.125em;
  line-height: 1.11111111; }

.label-col, .bg-screen-col, .mid-screen-col, .sm-screen-col {
  display: inline-block;
  padding: 5px; }

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  vertical-align: middle; }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  vertical-align: middle; }

table td {
  vertical-align: middle; }

/*** buttons ***/
.button-example-group {
  margin-bottom: 30px; }
  .button-example-group a {
    margin-bottom: 10px; }

.checkout-table thead tr th {
  color: #2ebd59;
  font-family: 'Helvetica Neue', 'Lato', 'Helvetica', sans-serif; }
.checkout-table thead {
  border-bottom: 0px solid white; }
.checkout-table .btn {
  padding: 10px 14px;
  border-radius: 50%; }
.checkout-table tbody tr td {
  padding-top: 30px;
  padding-bottom: 30px; }
  .checkout-table tbody tr td p {
    font-size: 14px; }

.cart-sum .btn-cta {
  display: block;
  width: 150px;
  margin: 0 auto;
  text-align: center; }

.cart-sum .row .col-sm-12.subtotal-group {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d9ddd9; }

.cart-sum .row .col-sm-12.subtotal-group tr td {
  padding-bottom: 15px; }

.cart-sum .table > tbody > tr > td, .cart-sum .table > tbody > tr > th, .cart-sum .table > tfoot > tr > td, .cart-sum .table > tfoot > tr > th, .cart-sum .table > thead > tr > td, .cart-sum .table > thead > tr > th, .cart-sum .table > tbody > tr > td, .cart-sum .table > tbody > tr > th, .cart-sum .table > tfoot > tr > td, .cart-sum .table > tfoot > tr > th, .cart-sum .table > thead > tr > td, .cart-sum .table > thead > tr > th {
  border-width: 0px; }

.report-preview {
  display: block;
  height: 300px;
  width: 300px;
  background-image: url(/images/order-complete-600x600.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid #a3afa4;
  margin: 30px auto 25px; }

.order-complete {
  text-align: center; }

.btn {
  margin-bottom: 40px; }

h1 {
  display: block;
  margin-bottom: 20px; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  float: center; }

.main-copy {
  display: block;
  margin-top: 150px; }
  .main-copy h1 {
    display: block;
    margin-bottom: 40px; }

.logo-banner {
  margin-top: 0px; }

.partner-logo-group {
  width: 500px;
  display: block;
  margin: 0 auto;
  float: center; }

.partner-logo-group-inner {
  text-align: center; }

.partner-logo {
  margin-top: 5px;
  width: 100px;
  height: 60px;
  display: inline-block; }

.reportBox-description {
  font-weight: 500; }

.reportBox-subheader {
  padding-bottom: 30px; }

#about {
  margin-top: 40px;
  margin-bottom: 110px; }

.about-group {
  padding: 1em;
  text-align: center; }

.about-image {
  display: block;
  width: 128px;
  margin: 0 auto; }

#contact {
  padding-top: 50px;
  background-image: url(/images/landingPage-background-2736x1824.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 610px; }
  #contact h2, #contact h3, #contact p {
    color: #202722; }

.ready-wrap {
  background-color: #2ebd59;
  text-align: center; }

.ready h3 {
  display: inline-block;
  color: white;
  font-weight: 300; }
.ready .btn-primary {
  margin-left: 0;
  font-size: 20px;
  display: inline-block;
  width: 150px;
  margin-top: 20px;
  background-color: white;
  color: #2ebd59; }

#products {
  margin-bottom: 70px; }

.price {
  font-weight: 300; }

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc); }

.personal-logo {
  text-align: right; }

/************************** search-results.html **************************/
.reportBox-wrapper {
  font-family: 'PT Serif', 'Book Antiqua', 'Palatino', serif;
  text-align: center;
  height: 720px;
  border: 1px solid #ddd;
  margin-bottom: 30px; }

.reportBox-header {
  font-family: "helvetica neue", sans-serif;
  font-size: 20px;
  padding: 25px 15px 0px 15px;
  color: #2ebd59;
  font-weight: bold; }

.reportbox-subheader {
  border-bottom: 1px solid #ddd; }
  .reportbox-subheader .btn {
    margin-bottom: 15px; }

.reportbox-subheader a {
  display: block;
  margin-bottom: 20px; }

.reportBox-description {
  padding: 20px 15px 20px 15px; }

.price {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 13px; }

.benefits .list {
  padding: 15px 5px 0 0; }

.benefits .list strong {
  display: block;
  margin-top: 13px;
  padding-bottom: 13px; }

.benefits a {
  display: block;
  text-decoration: none; }

.benefits ul {
  list-style-type: disc;
  text-align: left;
  padding-left: 27px; }

.benefits li {
  padding-bottom: 10px; }

.companySearchResult {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  padding: 15px 7px 7px 15px; }

.companySearchResult:last-child {
  border-bottom: 1px solid #ddd; }

.radio {
  float: left;
  margin-left: 20px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-top: 0; }

.radio-selected {
  background: rgba(24, 196, 121, 0.2);
  cursor: pointer; }

.pageHeader {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; }

.steps {
  color: #202722;
  padding-bottom: 10px;
  padding-top: 0; }
  .steps h3 {
    font-weight: 600; }

.resultProductWrapper .btn {
  border-width: 1px;
  display: block;
  margin-top: 15px; }

.compare-business a {
  display: block;
  margin: 0 auto 40px;
  width: 350px;
  padding-top: 15px;
  padding-bottom: 15px; }

.modal-header {
  border-width: 0px;
  background-color: #2ebd59; }
  .modal-header h3 {
    color: white; }
  .modal-header .modal-title {
    color: white; }

#reportBasic .modal-dialog .modal-body {
  background-image: url("/images/sample-basic.png");
  background-size: cover;
  height: 2451px; }

#reportPlus .modal-dialog .modal-body {
  background-image: url("/images/sample-plus.png");
  background-size: cover;
  height: 4060px; }

.prodSubmit a {
  margin: 0 0;
  color: white;
  text-decoration: none; }

.data {
  font-family: 'PT Serif', 'Book Antiqua', 'Palatino', serif;
  font-size: 12px;
  margin-top: 10px;
  color: #202722;
  padding-bottom: 15px; }

/************************** modals **************************/
.modal-body {
  padding: 40px; }

.modal form {
  font-family: 'PT Serif', 'Book Antiqua', 'Palatino', serif; }

.modal h3 {
  color: #2ebd59;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 13px; }

#login-password-modal {
  margin-bottom: 7px; }

.forgot-password {
  font-size: .75em; }

.modal-header, .modal-footer {
  border-width: 0px; }

.signup-choice {
  text-align: center;
  font-size: 24px;
  color: #B9BCC0;
  line-height: 70px;
  height: 70px;
  position: relative; }

.signup-choice:before {
  right: 0;
  left: auto; }

label {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  clear: left;
  display: block;
  color: #A1A4AA;
  font-size: 0.75em; }

.registration-header h4, label h4 {
  font-size: 16px;
  font-weight: bold;
  color: #202722; }

.modal-warning-bar {
  background-color: #f6a351; }
  .modal-warning-bar h3 {
    text-align: center;
    color: white;
    margin-top: 0px; }

.modal-radio-button {
  display: inline-block;
  margin-left: 30px; }

.login-form-radio-label {
  margin-top: 10px;
  font-size: 16px;
  font-weight: normal;
  color: #202722; }

.modal-login {
  float: right;
  width: 200px;
  display: block; }

/************************** Custom Bootstrap Fixes **************************/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 5px;
  padding-right: 5px; }

.row-modal {
  margin-bottom: 10px;
  margin-top: 10px; }

.register-input-field {
  margin-top: 20px;
  margin-bottom: 20px; }

/************************** 404.html *******************************/
.no-page {
  margin-top: 40px;
  text-align: center; }
  .no-page h1 {
    color: #2ebd59;
    margin-bottom: 5px; }
  .no-page h4 {
    margin-bottom: 20px; }
  .no-page .btn {
    margin-bottom: 40px; }

/*********************************** reviewOrder.html *******************************/
.welcome-wrap {
  background-color: #417ed9;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }

.empty-cart {
  text-align: center;
  padding-top: 30px; }

#delete-modal .modal-body {
  text-align: center; }
#delete-modal #btnYes {
  display: block; }
#delete-modal #btnNo {
  display: block; }

/*********************************** account-settings.html *******************************/
.accountSettings .nav-stacked {
  position: fixed;
  width: 250px; }

.accountSettings .nav-stacked li {
  color: #202722; }

.accountSettings .nav-stacked li a {
  color: #202722; }

.accountSettings .nav-pills > li.active > a, .accountSettings .nav-pills > li.active > a:focus, .accountSettings .nav-pills > li.active > a:hover {
  background-color: white;
  border-left: 3px solid #2ebd59;
  color: #2ebd59; }

.accountSettings .nav-pills > li.active > a, .accountSettings .nav-pills > li.active > a:hover, .accountSettings .nav-pills > li.active > a:focus {
  background-color: white;
  border-left: 3px solid #2ebd59;
  color: #2ebd59; }

.accountSettings li > a {
  background-color: white; }

.accountSettings li > a:hover {
  background-color: white;
  color: #2ebd59; }

.affix {
  position: inherit; }

/******************************* my-reports.html *************************/
.report-preview-plus {
  height: 200px;
  background-image: url(/images/my-credit-report-back.png);
  background-repeat: no-repeat;
  background-size: cover; }

.report-company {
  padding-left: 15px;
  padding-right: 15px;
  font-size: .765em; }

.report-company-name {
  font-weight: 600; }

.report-type {
  color: #2ebd59; }

.welcome-wrap .btn {
  background-color: white; }

/*# sourceMappingURL=styles.css.map */
