// branding colors //
$primary:#2ebd59;
$primary-color: #2ebd59;
$primary-bright:#1ed760;
$secondary:#417ed9;
$secondary-bright:#3692ff;


// ui colors //
$cta:#ff673b;
$cta-bright:#ff7f43;
$success:#18c479;
$success-bright:#13d87a;
$success-brightest: #e6fff2;
$warning:#f6a351;
$warning-bright:#ffae64;
$warning-brightest: #ffede1;
$danger:#e74c3c;
$danger-bright:#ff534a;
$danger-brightest: #ffe7e6;
$info:#3498db;
$info-bright:#50daff;

// grey scale //
$black:#202722;
$darkest-gray:#6a7a6b;
$dark-gray:#a3afa4;
$gray:#d9ddd9;
$light-gray:#f1f1f1;
$lightest-gray:#fafafa;


$card-border: #dfe5e1;


$disabled: #d5dbdb;
$disabled-bright: #f4f6f6;