/******************************* my-reports.html *************************/

.report-preview-plus {
	height: 200px;
	background-image: url(/images/my-credit-report-back.png);
	background-repeat: no-repeat;
	background-size:cover;
}

.report-company {
	padding-left:15px;
	padding-right:15px;
	font-size: .765em;
}

.report-company-name {
	font-weight: 600;
}

.report-type {
	color: $primary;
}

.welcome-wrap {
	.btn {
		background-color: white;
	}
}