/*** NAVBAR ***/

.user-name-nav {
	display:inline-block;
	text-transform: uppercase;
	font-size:.875em;
}

.fa fa-use {
	-webkit-font-smoothing: antialiased;
}

.navbar {
	background-color: $black;
	color: white;
	border-bottom: 1px solid rgba(0,0,0,0);
	height: 60px;
	#navbar {
		li {
			margin: auto 10px;
			a {
				font-family: 'Helvetica Neue', 'Lato', 'Helvetica', sans-serif;
				-webkit-transition: color .25s linear;
				transition: color .25s linear;
				-webkit-font-smoothing: subpixel-antialiased;
				margin-top:5px;
				color: white;
				&:hover {color: $primary-color;}
			}
		}
	}
}


.past-main {
	background-color: $black;
	color: #333333;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(0,0,0,0);
	#navbar {
		.active {
			background-color: $black;
			a {color: white;}
		}
		li {
			&:hover {
				background-color: $black;
			}
			a {
				margin-top:5px;
				color: $gray;
				&:hover {color: white;}
			}
		}
	}
}

.dropdown-menu {
	.divide {border-top: 1px solid $gray;}
	background-color: #090909;
	color: $gray;
	li {
		display: block;
		&:hover{ background-color: $black;}
		a {
			padding-top: .5em;
			padding-bottom: .5em;
			display:block;
			height: auto;
			&:hover{ background-color: #090909;}
		}
	}
}

.nav-gray {
	background-color: $gray;
	#navbar {
		li {
			&:hover {
				background-color: $black;
			}
			a {
			color: white;
			&:hover {color: white;}
			}
		}
	}
}

.navbar-left {
	margin-left: 30px;
}

.nav-index {
	background-color: rgba(0,0,0,0);
	.btn {
		@extend .btn-primary-reverse;
		background-color: rgba(0, 0, 0, 0);
		border: 1px solid $primary;
	}
}

.nav-index #navbar li a {
	color: $darkest-gray;
}

.navbar-brand {
	margin-top: 11px;
	display: block;
	background-image: url(/images/pg_logo-whiteGreen-400x100.png);
	width: 200px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	background-size:contain;
	a {
		color: rgba(0, 0, 0, 0);
		&:hover {
			color: rgba(0, 0, 0, 0);
		}
	}
}

.nav-index .navbar-brand {
	background-image: url(/images/pg_logo-blackGreen-400x100.png);
}

.sign-up-btn {
	margin-top: 10px;
}

.navbar #navbar li a.btn-primary-reverse {
	margin-top: 10px;
	padding: 10px 15px;
	color: $primary;
	&:hover {
		background-color: $primary;
		color: white;
	}
}

@media screen and (max-width: 768px) {
	.nav-index {
	background-color: $black;
	color: white;
	border-bottom: 1px solid rgba(0,0,0,0);
	height: 60px;
	#navbar {
		li {
			text-align:center;
			margin: auto 10px;
			a {
				font-family: 'Helvetica Neue', 'Lato', 'Helvetica', sans-serif;
				-webkit-transition: color .25s linear;
				transition: color .25s linear;
				-webkit-font-smoothing: subpixel-antialiased;
				margin-top:5px;
				color: white;
				&:hover {color: $primary-color;}
			}
		}
		}
	.navbar-brand {
		background-image: url(/images/pg_logo-whiteGreen-400x100.png);
	}
}
	.navbar-collapse {
		background-color: $black;
	}
}
