

// Import Bootstrap Compass integration
//@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
//@import "bootstrap";

body {
	margin-top:60px;
	box-sizing: border-box;
}

body.index {
	margin-top:0;
}

.hide-mobile {
	@media screen and (max-width: 480px) {
		display:none;
	}
}

@import "paygo";
@import "colors";
@import "typography";
@import "nav";
@import "footer";
@import "jumbotron";
@import "buttons";
@import "cards";
@import "input";
@import "icons";
@import "tables";
@import "pagination";

@import "ui-kit";

@import "checkout";
@import "order-complete";
@import "index";
@import "search-results";
@import "modals";
@import "custom-bootstrap";
@import "404";
@import "reviewOrder";
@import "account-settings";
@import "my-reports";
